@charset "utf-8";
@import url('https://hctilg.github.io/scrollbarcss/scrollbar.css');

* {
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    user-zoom: none;
    outline: none;
    padding : 0;
    margin : 0;
}

html {
    color-scheme: dark;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form {
    width: 700px;
    min-height: 500px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

input#file, input#file::-webkit-file-upload-button {
    display: none !important;
}

label[for="file"], button[type="submit"] {
    background: transparent ;
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 6px;
    border: 0;
    outline: #eee 2px dashed;

    font-weight: 500;
    font-size: 17px;
    letter-spacing: .3px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

[drag] label[for="file"] {
    display: none !important;
}

#drag-field {
    font-size: 20px;
    color: #e3dce8;
    display: none;
}

[drag] #drag-field {
    display: contents !important;
}

button[type="submit"] {
    background: #101010 !important;
    margin: 25px auto 0;
}

#show-data[hide] {
    opacity: 0 !important;
    display: none !important;
    visibility: hidden !important;
}

#show-data:not([hide]) {
    background: #121212;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}

#show-data #close {
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #d00416;
    font-size: 50px;
    border: none;
    outline: none;

    position: fixed;
    top: 15px;
    left: 15px;

    cursor: pointer;
    transition: all 200ms ease;
}

#show-data #close:hover {
    transform: translate(0%, 2%) scale(0.9) rotate(45deg);
    color: #e6e6e6;
}

#show-data > h3 {
    display: block !important;
    max-width: calc(100% - 64px);
    height: min-content;
    font-size: 32px;
    color: #e6e6e6;
    margin: 25px 13px 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#show-data > div {
    background-color: #05070a;
    color: #00c3f4;
    font-size: 16px;

    width: calc(95% - 16px);
    max-width: 820px;

    padding: 13px 12px ;
    border-radius: 7px;
    margin: 13px;

    outline: none;
    border: none;

    user-select: all !important;
    overflow: scroll hidden;
}

::selection {
    background-color: #6f009e;
    color: #f5f7fa;
}

[scrollbar="hide"]::-webkit-scrollbar {
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;

    -ms-overflow-style: none !important; /* IE 11 */
    scrollbar-width: none !important; /* Firefox 64 */
    display: none !important; /* Default */
}

@-moz-document url-prefix() {
    /* Disable scrollbar Firefox */
    [scrollbar="hide"] {
        scrollbar-width: none !important;
    }
}